<!DOCTYPE html>
<html>
<head>
    <title>Hello jQuery</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
    <script src="js/hello.js"></script>
</head>

<body>
    
    <div> 
        <h3>create item</h3>
        <label>name</label>
        <input type="text" id="name"></input>
        <label>price</label>
        <input type="text" id="price"></input>
        
        <button type="submit" id="send-item">Send</button>
    </div>
    
    <p id="item-status"></p>
    
    
    <div>
        <h3>update item price</h3>
        <label>item id</label>
        <input type="text" id="update-item-id"></input>
        
        <label>updated item price</label>
        <input type="text" id="updated-item-price"></input> 
        
        <button type="submit" id="update-item">Send</button>
    </div>
    
    <p id='update-item-status'></p>
    <div>
        <h3>All items</h3>
        <table id='items-table'>
            <tr>
                <th>id</th>
                <th>name</th>
                <th>price</th>
            </tr>  
        </table>
        
    </div>
    
    <div>    
        <h3>create new order</h3>    
        <button type="submit" id="create-order">create</button>
        
        
        <p id='order-status'></p>
        <input id='actual-order-id' type="hidden" value=""></input>
        
        <h3>Order position items</h3>
        <table id='order-items-table' style="display:none">
            <tr>
                <th>id</th>
                <th>name</th>
                <th>price</th>
                <th>quantity</th>
                <th>currentPrice</th>
            </tr>  
        </table>
    <br></br>
        <strong>summary: </strong><span id="summary"></span>
    </div>
    
    
    <div>
        <h3>add item to the order</h3>
        <label>item id</label>
        <input type="text" id="item-id"></input>
        
        <!-- <label>order id</label>
        <input type="text" id="order-id"></input>  -->
        
        <label>quantity</label>
        <input type="text" id="quantity"></input>      
        <button type="submit" id="add-item-order">Send</button>
    </div>
    
    <p id='item-order-status'></p>
    
    
    
    
    <div>
        <h3>pay</h3>

        <label>payment</label>
        <input type="text" id="payment"></input> 
        
        <button type="submit" id="pay">Send</button>
    </div>
    
    <p id='payment-status'></p>
    
</body>
</html>