<!DOCTYPE html>
<html>
<head>
    <title>Hello jQuery</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
    <script src="js/hello.js"></script>
</head>

<body>
    <div>
        <p class="greeting-id">The ID is </p>
        <p class="greeting-content">The content is </p>
        
        
        <input type="text" id="name"></input>
        <input type="text" id="price"></input>
        
        <button type="submit" id="send-item">Send</button>
    </div>

    <p id='item-status'></p>
</body>
</html>